@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



:root{
  --primary-white: rgb(236, 230, 230);
  --primary-orange: #2287e6;
  --primary-dark: #000000;
  --primary-green: #1aca55;
  --primary-blue-hover: #41d3bb;
}

/******************** Navbar *******************/

body {
  font-family: "Roboto Condesed" sans-serif;
  background-attachment: fixed;
}

nav {
  z-index: 2;
}

nav a.nav-link {
  font-size: .8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand{
  /* max-height: 30rem; */
  max-width: 17.25rem;
  padding: 2.25rem !important;
  height: 6rem !important;
}

@media(max-width: 768px) {
  .navbar-brand{
    width: 7rem;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/******************** Header *******************/

.header-wraper {
  position: relative;
  background: linear-gradient(0.25turn, #2287e6, #0f2e68, #000000, #0f2e68, #2287e6);
  background-size: cover;
  background-position: center;
  height: 90vh;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}

/* body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
} */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1{
  color:rgb(236, 230, 230);
  text-transform: uppercase;
}

@media(max-width: 768px){
  .main-info h1{
    font-size: 1.7rem !important;
  }
  .typed-text{
    font-size: 1.3rem !important;
  }
}

/******************** Navbar *******************/

.typed-text {
  font-size: 2rem;
  color:rgb(236, 230, 230);
}

/******************** Header Main Offer Button *******************/

.btn-main-offer{
  color: #9e9999;
  border: 1px solid var(--primary-white);
  /* text-transform: uppercase; */
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  margin: 2rem;
}

.btn-main-offer:hover{
  text-decoration: none;
  background-color: var(--primary-blue-hover);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}

/******************** Particles *******************/

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particle-canvas {
    display: none;
  }
}


/******************** About Me *******************/


/* .about-wraper {
  position: relative;
  background: linear-gradient(0.25turn, #2287e6, #0f2e68, #000000, #0f2e68, #2287e6) transparent;
  background-size: cover;
  background-position: center;
  height: 90vh;
} */

.main-info-about {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.card-body {
  background: linear-gradient(0.25turn ,#0000007e, #0f2e68, #2287e6, #0f2e68, #0000007e);
  background-position: center;
  border-top: 0.1870rem;
  color: #f1ebeb;
  background-color: #0000006e;
  margin: 1.5rem 4rem;
  justify-content: center;
  flex-direction: row;
}


/******************** image *******************/

.img-me > img  {
  float: left;
  height: 15.600;
  width: 15.600;
  border-radius: 50%;
}


/******************** image *******************/

.contact {
  z-index: 2;
  color: #f1ebeb;
  margin-left: 28.5rem;
  height: 18.75rem;
  width: 21.25rem;
  padding: 3.125rem;
  cursor: pointer;
}