@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



:root{
  --primary-white: rgb(236, 230, 230);
  --primary-orange: #2287e6;
  --primary-dark: #000000;
  --primary-green: #1aca55;
  --primary-blue-hover: #41d3bb;
  font-family: serif;
}

/******************** Navbar *******************/

body {
  font-family: serif;
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-repeat: repeat-y;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

nav {
  z-index: 2;
  background-color: #000000;
  font-family: serif;
}

nav a.nav-link {
  font-size: .8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  color: #ffffff;
}

nav ul li {
  text-transform: uppercase;
  color: #ffffff;
}

.navbar > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: #fcfcfc !important;
  border-top: 0.1875rem solid #ffffff;
  color: #ffffff;
}

.navbar-brand{
  /* max-height: 30rem; */
  max-width: 17.25rem;
  padding: 2.25rem !important;
  height: 6rem !important;
  color: #ffffff;
}

@media(max-width: 768px) {
  .navbar-brand{
    width: 7rem;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid #ffffff;
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid #ffffff;
}

/******************** Header *******************/

.header-wraper {
  position: relative;
  background: linear-gradient(0.25turn, #2287e6, #0f2e68, #000000, #0f2e68, #2287e6);
  background-size: cover;
  background-position: center;
  height: 90vh;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-repeat: repeat-y;
  overflow-x: hidden;
  font-family: serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  font-family: serif;
}

.main-info h1{
  color:rgb(236, 230, 230);
  text-transform: uppercase;
}

@media(max-width: 768px){
  .main-info h1{
    font-size: 1.7rem !important;
  }
  .typed-text{
    font-size: 1.3rem !important;
  }
}

/******************** Navbar *******************/

.typed-text {
  font-size: 2rem;
  color:rgb(255, 255, 255);
  font-family: serif;
}

/******************** Header Main Offer Button *******************/

.btn-main-offer{
  color: #ffffff;
  border: 1px solid var(ffffff);
  background: #000000;
  /* text-transform: uppercase; */
  border-radius: 10%;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  margin: 2rem;
  font-family: serif;
}

.btn-main-offer:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #ee37d6;
  text-decoration-color: #ee37d6;
  transition: .5s ease-in-out;
  font-family: serif;
}

/******************** Particles *******************/

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particle-canvas {
    display: none;
  }
}


/******************** About Me *******************/

.main-info-about {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  font-family: serif;
}

.card-body {
  background: linear-gradient(0.25turn ,#0000007e, #0f2e68, #2287e6, #0f2e68, #0000007e);
  background-position: center;
  border-top: 0.1870rem;
  border-radius: 1.50rem;
  color: #f1ebeb;
  background-color: #0000006e;
  margin: 1.5rem 4rem;
  justify-content: center;
  flex-direction: row;
  font-family: serif;
  box-shadow: 0 0 20px 8px #2a62b6;
}


/******************** image *******************/

.img-me > img  {
  position: center;
  /* float: left; */
  height: 10.975rem;
  width: 10.975rem;
  border-radius: 50%;
}


/******************** image *******************/

.contact {
  font-family: serif;
  z-index: 2;
  color: #f1ebeb;
  margin-left: 28.5rem;
  height: 10.75rem;
  width: 21.25rem;
  padding: 3.125rem;
  cursor: pointer;
  font-size: large;
}

/****************** Scrollbar *********************/

::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2287e6;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2287e6;
}